# Python
__pycache__/
*.pyc

# Virtual environments
.env
.venv
venv/

# ML artifacts
models/*.pt
models/*.pth

# Data
data/processed/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# Large datasets
data/raw/hi_train.tsv
data/raw/hi_valid.tsv
data/raw/hi_test.tsv
data/raw/hin/

